@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: black;
}

.logo {
	flex: 1px;
	color: red;
	font-size: 30px;
}

.logo span {
	color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #999;
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
  }
  
.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: #e4e4e4;
    border-radius: 5px;
    transform: translateY(10px);
    transition: .5s;
    opacity: 0;
    transition-delay: .2s;
}

  .navbar a:hover {
    color: #e4e4e4;
}

  
.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.background {
    width: 100%;
    height: 100vh;
    background: url(images/bg-login.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 450px;
    background: url(images/bg-login.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
}

.container .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: transparent;
    padding: 80px;
    color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content .logo {
    font-size: px;
}

.text-sci h2 {
    font-size: 40px;
    line-height: 1;
}

.text-sci h2 span {
    font-size: 25px;
}

.text-sci p {
    font-size: 16px;
    margin: 20px 0;
}

.sosial-icon a i {
    font-size: 24px;
    color: #e4e4e4;
    margin-right: 15px;
    transition: all 0.2s ease-in-out;
}

.sosial-icon a:hover i {
    color: #e4e4e4;
    transform: scale(1.2);
}

.sosial-icon a:first-child i {
    margin-left: 0;
}

.sosial-icon a:last-child i {
    margin-right: 0;
}

.container .logreg-box {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    overflow: hidden;
}

.logreg-box .form-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #e4e4e4;
}

.form-box h2 {
    font-size: 32px;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid #e4e4e4;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    padding-right: 28px;
} 

.input-box label {
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    color: #e4e4e4;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -10px;
    font-size: 13px;
    color: #e4e4e4;
}

.input-box .icon {
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

.show-password {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 5px;
    color: #e4e4e4;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.form-box .remember-forgot {
    font-size: 14.5px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #e4e4e4;
    margin-right: 3px;
}

.remember-forgot a {
    color: #e4e4e4;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: red;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: #e4e4e4;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.form-box .login-register {
    font-size: 14.5px;
    text-align: center;
    font-weight: 500;
    margin-top: 25px;
}

.login-register p {
    color: red;
    font-weight: bold;
}

.login-register p a {
    color: #e4e4e4;
    font-weight: 600;
    text-decoration: none;
}

.login-register p a:hover {
    text-decoration: underline;
}